.icon::before {
  display: inline-flex;
  justify-content: center;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  min-width: 1.25em;
  margin-right: 0.25em;
}
.location::before {
  content: url("/icons/map-pin.svg");
}
.website::before {
  content: url("/icons/link-2.svg");
}
.email::before {
  content: url("/icons/mail.svg");
}
.phone::before {
  content: url("/icons/phone.svg");
}
.github::before {
  content: url("/icons/github.svg");
}
.gitlab::before {
  content: url("/icons/gitlab.svg");
}
.twitter::before {
  content: url("/icons/twitter.svg");
}
.linkedin::before {
  content: url("/icons/linkedin.svg");
}

/*
  Imported from
  https://github.com/phoinixi/jsonresume-theme-spartan/blob/master/style.css
*/

/* Skills chart */
#skills .level .bar {
  border: 1px solid #e5e7eb;
  display: block;
  width: 10em;
  height: 5px;
  margin: 0em 0 1em 0;
  position: relative;
}

#skills .level .bar::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background: black;
  height: 5px;
}

#skills .level.beginner .bar::after {
  background: #ef4444;
  width: 2.5em;
}

#skills .level.intermediate .bar::after {
  background: #fcd34d;
  width: 5em;
}

#skills .level.advanced .bar::after {
  background: #34d399;
  width: 7.5em;
}

#skills .level.master .bar::after {
  background: #059669;
  width: 10em;
}

#references .item {
  padding-left: 1em;
  border-left: 5px solid #eb5f51;
}

.courses li,
.keywords li {
  display: inline-block;
  background: #f0f0f0;
  font-size: 0.9em;
  line-height: 1;
  color: #333;
  padding: 0.4em 0.8em;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-radius: 3px;
}

#interests .item,
#languages .item {
  border-bottom: none;
}
